/* 
    Document   : style
    Created on : Sep 19, 2013, 3:57:55 PM
    Author     : Hassan
    Description:
        Purpose of the stylesheet follows.
*/
root { 
    display: block;
}

#main-menu
{
    /* display:inline-block; */

    /* position: absolute; */
    z-index: 200;
    margin: 0 auto;
    text-align: center;
    height: 5%;
    min-height: 30px;
}

#canvas
{
    /* display:inline-block; */
    width: 90.5%;
    height: 100%;
    margin: 0 0 0 5.5%;
}
#left-menu
{
    width: 10%;
    max-width: 100px;
    position:absolute;
    z-index:100;
}
#right-menu
{
    width: 5%;
    height:90%;
    max-width: 100px;
    position:absolute;
    left:95%;
    z-index:100;
    float:right;
}
.menu{
    background-color: rgba(0,0,0,.8);
    color: rgb(255,255,255);
    text-align: center;
    /*margin:0 auto;*/

}
.menu-items{
    display:inline-block;
    font-size: 1em;
    width:100%;
    margin-bottom: 5px
}

.menu-items li{
    /*height: 20%;*/
    /*max-height: 60px;*/

    display:inline-block;
    float:left;
    width:100%;
    padding:10px 0;


}

.menu-items li:hover{
    cursor:pointer;
    background-color: rgba(64,64,64,1);

}


/* SLIDER */
#slider{
    height:inherit;
}
#speed-slider{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width:100%;
    height: 90%;
    padding:5px 0;
    background-color: blue;
}
#speed-slider::-webkit-slider-thumb{
    /*-webkit-appearance:slider-vertical;*/ 
    /*-moz-apperance:none;*/ 
    width:10px;
    height:10px;
    -webkit-border-radius:10px; 
    -moz-border-radius:10px; 
    -ms-border-radius:10px; 
    -o-border-radius:10px;
    border-radius:10px;
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(0.49, #dddddd), color-stop(0.51, #d1d1d1), color-stop(1, #a1a1a1) );
}


input[type='range']::-webkit-slider-thumb {  
    -webkit-appearance: none;  
    background-color: #444;  
    width: 15px;  
    height: 20px;  
}  
/* TEXT */

#text-canvas
{
    margin: 0 15px;
    font-size:1.00em;
    height: 90%;
    overflow-style: panner;
    overflow-y:auto;
    /*overflow-x: none;*/

}
.paragraph{
    padding:10px;
}
.paragraph p{

}

.paragraph-label{
    /* height: 100%; */
    /* float:left; */
    /* display: block; */
    color: #555;
    padding: 0px 15px;
    /* margin: 0 auto; */
    vertical-align: middle;
    color: #A8A8A8;
}
.sentence{

}
.sentence-1{
    font-style:italic;
}


.highlighted-word{
    font-weight: bolder;
}

#progress-area{
    position:absolute;
    z-index:100;
    top: calc( 100% - 20px);
    width: 100%;
}
#progress-bar{
    background-color: green;
    height:20px;
}