/* 
    Document   : style
    Created on : Sep 19, 2013, 3:57:55 PM
    Author     : Hassan
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.nav-button {
	color: #fff;
	text-shadow: none;
}

.nav-search .ui-btn-up-a {
	background-image:none;
	background-color:#333333;
}
.nav-search .ui-btn-inner {
	border-top: 1px solid #888;
	border-color: rgba(255, 255, 255, .1);
}

#main-menu
{
    /* display:inline-block; */

    /* position: absolute; */
    z-index: 200;
    margin: 0 auto;
    text-align: center;
    height: 5%;
    min-height: 30px;
}

#page
{
	overflow: hidden;
	margin-left: 0px;
	padding-left: 0px;
}

.content-primary {
	width: 94%;
	float: left;
}

.content-secondary {
	width: 6%;
	float: left;
	height: 100%;
}

#canvas
{
    /* display:inline-block; */
    width: 100%;
    height: 100%;
    margin: 0px !important;
}

#left-menu
{
    width: 10%;
    max-width: 100px;
    position:absolute;
    z-index:100;
}

#right-menu
{
    width: 100%;
    height:100%;
    max-width: 100px;
    z-index: 100;
    float: right;
    right: 0px;
    top: 0px;
    position: fixed;
}

.menu{
    background-color: #222222;
    color: rgb(255,255,255);
    text-align: center;
    /*margin:0 auto;*/

}

.menu-items{
    display:inline-block;
    font-size: 1em;
    width:100%;
    margin-bottom: 5px
}

.menu-items li{
    /*height: 20%;*/
    /*max-height: 60px;*/

    display:inline-block;
    float:left;
    width:100%;
    padding:10px 0;


}

.menu-items li:hover{
    cursor:pointer;
    background-color: rgba(64,64,64,1);

}

/* SLIDER */
#speedSlider {
    position: relative;
    top:50%;
    margin-left: 5px;
}
label.ui-slider-vertical { 
	display: block; 
}

a.ui-slider-handle-vertical .ui-btn-inner { 
	padding-left: 0;
	padding-right: 0;
}

div.ui-slider-vertical, div.ui-slider-verticalInverted { 
	position: relative;
	display: inline-block;
	overflow: visible;
	height: 50%;
	padding: 0;
	margin: 0 2% 0 40px;
	top: 25%;
	width:15px;
}

label.ui-slider-vertical, label.ui-slider-verticalInverted { 
	display: inline-block; 
	width: 20%;
	margin: 0 2% 0 0;
}

div.ui-slider-vertical, div.ui-slider-verticalInverted { 
	width: 15px;
}

a.ui-slider-handle-vertical, a.ui-slider-handle-verticalInverted { 
	position: absolute;
	z-index: 10; 
	top: 50%;
	width: 28px;
	height: 28px;
	margin-top: -15px;
	margin-left: -8px;
}

/* TEXT */

#text-canvas
{
    margin: 0 15px;
    font-size:1.00em;
    overflow-style: panner;
    overflow-y:auto;
    /*overflow-x: none;*/

}

.paragraph-div {
	width: 100%;
	float: left;
}

.paragraph-label{
    /* height: 100%; */
    float: left;
    /* display: block; */
    color: #555;
    padding: 10px 15px;
    /* margin: 0 auto; */
    vertical-align: middle;
    color: #A8A8A8;
    width: 50px;
}

.paragraph{
    padding: 10px;
    float: left;
    
    width: -moz-calc(100% - 80px);
    width: -webkit-calc(100% - 80px);
    width: calc(100% - 80px);
}

.paragraph-time {
	padding: 10px 15px;
	float: left;
	width: 30px;
}

.paragraph p{

}

.first-paragraph{
    padding-top: 20%;
}

.last-paragraph{
    padding-bottom: 20%;
}

.sentence{

}
.sentence-1{
    font-style:italic;
}
.highlighted-word{
    font-weight: bold;
}
#progress-area{
    position:absolute;
    z-index:100;
    top: calc( 100% - 20px);
    width: 100%;
}
#progress-bar{
    background-color: green;
    height:20px;
}